*.pptx
*.pdf
*.jpg
*.mp4
/1 урок/Матстат_Урок_1.ipynb
/2 урок/Матстат_Урок_2.ipynb
/3 урок/Матстат_Урок_3.ipynb
/4 урок/Матстат_Урок_4.ipynb
/5 урок/Матстат_Урок_5.ipynb
*.zip
/6 урок/Матстат_Урок_6.ipynb
/7 урок/Матстат_Урок_7.ipynb
/8 урок/Матстат_Урок_8.ipynb
*.csv
